 @model IQueryable<Category>

<main class="main">

    <!-- Hero Section Burası Kayan Ekran -->
    <section id="hero" class="hero section dark-background">

        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item">
                <img src="assets/img/hero-carousel/Bio-Klimatik-Pergole-Modelleri.jpg" alt="">
                <div class="carousel-container">
                    <div>
                        <h2><span>Bio</span>Klimatik Tente</h2>
                        <a class="btn-get-started" asp-controller="Product" asp-action="Get" asp-route-slug="bio-klimatik-tente">Satın al</a>
                    </div>
                </div>
            </div><!-- End Carousel Item -->
            <div class="carousel-item active">
                <img src="assets/img/hero-carousel/Giyotin-Cam-Sistemi-1280x500.jpg" alt="">
                <div class="carousel-container">
                    <div>
                        <h2><span>Cam</span> Balkon</h2>
                        <a class="btn-get-started" asp-controller="Product" asp-action="Get" asp-route-slug="cam-balkon">Satın al</a>
                    </div>
                </div>
            </div><!-- End Carousel Item -->
            <div class="carousel-item">
                <img src="assets/img/hero-carousel/hero-carousel-3.jpg" alt="">
                <div class="carousel-container">
                    <div>

                        <h2><span>Giyotin</span> Cam</h2>
                        <a class="btn-get-started" asp-controller="Product" asp-action="Get" asp-route-slug="giyotin-cam">Satın al</a>
                    </div>
                </div>
            </div><!-- End Carousel Item -->

            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

            <ol class="carousel-indicators"></ol>

        </div>

    </section><!-- /Hero Section   Burası Kayan Ekran -->
    <!-- Services Section  -->
    <section id="services" class="services section">
       
        <!-- Section Title Burası Kategori olacak-->
        <div class="container section-title" data-aos="fade-up">
            <h2>Ürünlerimiz</h2>

            <!-- Bura gibi olacak düzenlem yeri -->
        </div><!-- End Section Title Burası Kategori olacak -->

        <div class="container">

            <div class="row gy-4">
                @{
                    int delay = 100;
                }
                @foreach (Category item in Model)
                {
                   
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="@delay">
                        <div class="service-item  position-relative">
                            <!-- <div class="icon">
                              <i class="bi bi-activity"></i>
                            </div> -->
                            <div class="member">
                                <img src="@item.ImageUrl" class="img-fluid" alt="" width="300" height="150">
                            </div>
                                    <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@item.CategoryId" class="stretched-link">
                                <h3>@item.CategoryName</h3>
                            </a>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                    delay += 100; // her item için 100 ms artır

                    <!-- End Service Item -->
                }
            </div>

        </div>

    </section><!-- /Services Section -->
    <!-- Testimonials Section kayan ekeran-->
    <section id="testimonials" class="testimonials section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Favori Ürünler</h2>

        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 40
                        },
                        "1200": {
                          "slidesPerView": 3,
                          "spaceBetween": 1
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Pergola Tente</h3>
                                <img src="assets/img/testimonials/pergola-tente-sistemleri-768x380.jpg" class="testimonial-img"
                                     alt="">


                            </div>
                            <p>
                                Tüm kurum ve kuruluşlardan almış olduğumuz üstün başarı belgesi ve yetki belgeleri ile sizlere
                                güvenilir hizmet sunuyoruz.Her nerede olursanız olun tüm il ilçe semt ve mahallelerde hizmet
                                vermekteyiz. Bizlere bir telefon kadar uzaktasınız.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Çift Açılır Tente</h3>
                                <img src="assets/img/testimonials/cift-acilabilir-tente-300x240.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                Çift açılır tente kurulumu ve kullanımı kolay tente modellerinden sadece biridir.Bu tente sayesinde
                                hem daha sağlıklı bir hava ortamına sahip olursunuz hemde iş yerleriniz daha güzel bire görünüme
                                kavuşmaktadır. taksitli fiyatları akrilik kumaşlı ısı geçirmeyen garanti belgeli kaliteli
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Giyotin Cam Balkon</h3>
                                <img src="assets/img/testimonials/giotin-cam-balkon-962x500.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                İstanbul Cam Balkon İstanbul CamBalkon firmamız kaliteli malzeme ve işçiliğin yanında ekonomik fiyat
                                politikasıyla %100 müşteri memnuniyeti ilkesini benimsemiş ve istanbul cam balkon sektöründe lider
                                olma yolunda ilerlemektedir. 30 mm cam tercihi özelliği ile iki cam arası jaluzi kullanım imkanı
                                sağlamaktadır. Özel tutamak tasarımı, taşıma kapasitesi ile kullanım kolaylığı sağlamaktadır.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Sürgülü Sineklik </h3>
                                <img src="assets/img/testimonials/surgulu-sineklik-sineklikler.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                Sizin mekânlarınıza en uygun olan hangisi ise seçebilirsiniz. Biz hepsinin imalatını yapmaktayız.
                                Sürgülü, sürme sineklik bir ray üzerinde konumlanmıştır. Yana doğru sürülerek açılıp kapatılmaktadır.
                                Sürgülü sineklik fiyatı ne kadar? Linkten ölçülere girerek öğrene bilirsiniz. Renk seçeneklerimiz de
                                vardır.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>

                            <div class="profile mt-auto">
                                <h3>Körük Tente</h3>
                                <img src="assets/img/testimonials/koruk-tente.jpg" class="testimonial-img" alt="">
                            </div>
                            <p>
                                Körüğü sayesinde yandan gelen güneşi de engelleyebilir ve istenildiği gibi ayarlanabilir.
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- /Testimonials Section -->

</main>