@model Product
@{
    var cover = Model.Images
        ?.OrderByDescending(i => i.IsMain)   // true kapaksa önce
         .ThenBy(i => i.DisplayOrder)        // eşitlikte sıraya göre
        .FirstOrDefault();

    var imgPath = cover?.Media?.Url ?? "assets/img/placeholder.png";
}
<div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
    <div class="card">
        <img src="@imgPath" alt="" class="img-fluid">
        <div class="card-body">
            <span class="sale-rent"> Satın Al</span>
            <h3><a asp-action="Get" asp-route-slug="@Model.Slug" class="stretched-link">@Model.Name</a></h3>
            <div class="card-content d-flex flex-column justify-content-center text-center">
                <div class="row propery-info">
                    <div class="col">Alan</div>
                    <div class="col">Ürün Adı</div>
                    <div class="col">Fiyat</div>
                </div>
                <div class="row">
                    <div class="col">1m2</div>
                    <div class="col">@Model.Name</div>
                    <div class="col">@Model.Price</div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Property Item -->